.connection_home{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 99%;
    padding: 0rem;
    outline: none;
    border: none;
    justify-content: space-around;
}

.listUser{
    flex-grow: 1;
    width: 40%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    margin: 0rem;
    padding: 0rem;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.705);
    cursor: pointer;
    box-shadow: -2px -1px 0px 0px rgb(255 255 255);
}


/* Search icons... Strat*/

.first_chat_icons{
    width: 90%;
    height: 20px;
    display: block;
    margin: 1rem auto;
    font-size: 19px;
    font-family: inherit;
    text-transform: capitalize;
}


/* Search icons... End*/

/*Start Search*/


.only_search {
    width: 95%;
    margin: 0.5rem auto;
    display: block;
    position: relative;
}
._listUserInput{
    outline: none;
    border: none;
    background-color: #f0f2f5;
    box-shadow: 0px 0px 4px black;
    margin: 0.1rem auto;
    font-size: 14px;
    font-family: cursive;
    cursor: pointer;
    width: 75%;
    display: block;
    height: 32px;
    border-radius: 0.9rem;
    padding-left: 2rem;
    text-transform: capitalize;
}
.search_list i{
    top: 0.6rem;
    left: 1.5rem;
    position: absolute;
    color: hsl(0deg 0% 100%);
}
.no-Message{
   
    color: black;
    text-align: center;
    height: auto;
    font-family: cursive;
}


.back{
    width: 50%;
    height: 27px;
    border-radius: 0.4rem;
    border: none;
    outline: none;
    background-color: black;
    color: #fff;
    cursor: pointer;
    display: block;
    margin: 0.2rem;
    line-height: 2;
    font-style: italic;
    box-shadow: 0px 0px 1px red;
    padding-left: 0.2rem;
}

/* chat user List...  */
.list_user_allt{

width: 92%;
margin: 0.2rem auto;
display: flex;
justify-content: flex-start;
padding: 0rem;
outline: none;
border: none;
border-radius: 0.2rem;
align-items: center;
background-color: #f0f2f5;
padding: 0.3rem;

}


.list_user_allt_image{
 width: 40px;
 height: 40px;
 border-radius: 50%;
 outline: none;
 text-align: center;
 display: block;
margin-left: 1rem;
}


.sistaMessage{
    padding: 0rem;
    margin: 0rem;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    width: 80%;
    text-align: left;
    display: block;
}
.sistaMessage p {
    line-height: 1.4;
    padding: 0rem;
    margin: 0rem;
    padding-left: 1rem;
}
.p_andra{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 0, 0, 0.308);
}



.list_user_allt:hover{

   opacity: 0.8;
}

.list_user_allt_text{
    font-size: 14px;
    font-family: cursive;
    padding: 0rem;
    margin: 0rem;
    outline: none;
    margin-left: 0.7rem;
}
.time.xp{
    font-size: 10px;
    display: block;
    width: 100%;
    margin: 0rem auto;
    text-align: right;
}
.time{
    font-size: 10px;
    display: block;
    width: 100%;
    margin: 0rem auto;
    text-align: left;
}
.create_chat{
 
    background-color: black;
    padding: 0rem;
    margin: 0.1rem auto;
    width: 70%;
    font-size: 14px;
    text-transform: capitalize;
    font-family: cursive;
    color: #fff;
    border-radius: 0.4rem;
    border: none;
    outline: none;
    height: 20px;
    padding-left: 0.2rem;
    cursor: pointer;
    transform: all 0.10s;
    
}
.create_chat:hover{
box-shadow: 0px 0px 0.2rem blueviolet;
}
.list_user_allt_x{
    width: 90%;
    height: auto;
    display: block;
    border-radius: 1rem;
    border:none;
    outline: none;
    margin: 0.2rem auto;
    background-color: rgba(238, 238, 238, 0.521);
    padding: 0.1rem;
    box-shadow: 0.2rem 0.1rem 0.2rem black;

}



.allt_search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left:1rem;
    margin: 0rem auto;
    margin: 0rem;
}
.list_user_allt_text_search{
    font-style: 10px;
    margin-left: 0.3rem;
    font-family: cursive;
    padding: 0rem;
    outline: none;
}


/* Messager Start. ... */
.message_input{
    flex-grow: 2;
    height: 100vh;
    width: 40%;
}

.vem{
    display: flex;
    width: 98%;
    background-color: #FFF;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 0px 1px black;
    outline: none;
    border: none;
    border-radius: 0.2rem;
    margin: 0rem;
    
}
.vemImger{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
    border: none;
    margin-left: 1rem;
}
.vem_text{
    text-transform: capitalize;
    font-family: cursive;
    padding-left: 2rem;
}
.call{
    margin-left: auto;
}
.call i{
font-size: 20px;
padding-right: 1rem;
cursor: pointer;
}
.messager_top{
    flex-direction: column;
    display: flex;
    width: 91%;
    overflow-y: auto;
    height: 540px;
    background: #FFF;
    
    padding: 1rem;
    box-shadow: 0px 0px 1px black;
   
    outline: none;
    border: none;
    border-radius: 0.2rem;
}

.tiem{
    display: block;
    width: 100%;
    height: auto;
    
}
.times{
    font-size: 10px;
    display: block;
    width: 100%;
    margin: 0.4rem;
    margin: 0.1rem auto;
   
}

.andra {
    display: flex;

}

.andra.xp {
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
}

.messager_top_image.xp
{
 margin-right: 0.4rem;
 width: auto;
 height: 30px;
 opacity: 0.9;
 border-radius: 50%;
 outline: none;
 border: none;
 box-shadow: 0px 0px 3px black;
 padding: 0rem;
 margin: 0rem;
 
}
.messager_top_image{
    width: 30px;
    height: 30px;
    opacity: 0.9;
    border-radius: 50%;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px black;
    padding: 0rem;
    margin: 0rem;
}
.messager_top_image_text{
    font-size: 10px;
    font-family: cursive;
    margin-left: 0.3rem;
}

.messager_top_image_text.xp{

    font-size: 10px;
    font-family: cursive;
    margin-right: 0.4rem;
    width: 100%;
    text-align: right;


    color: rebeccapurple;
    text-transform: capitalize;
}


.messager_top_Input{
    height: 40px;
    box-shadow: 0px 0px 3px black;
    border: none;
    border-radius: 0.4rem;
    width: 100%;
    margin: 0.1rem auto;
    font-size: 15px;
    font-family: cursive;
    padding: 0.2rem;
    text-transform: capitalize;
    outline: none;
    transform: 0.10s;
}

.messager_top_Input:hover{
   opacity: 0.7;
}


/* start Online Users...*/
.online_users{
    flex-grow: 1;
    width: auto;
  
}

.online_chattuser{
    display: block;
    font-style: 12px;
    width: 100%;
    
    height: auto;
}

.list_user_allt_xp{
    display: flex;
    justify-content: flex-start;
    
    border-radius: 0.5rem;
    border: none;
    outline: none;
    margin: 0.3rem auto;
    padding: 0rem;
    align-items: center;
    width: 90%;
   cursor: pointer;
   padding: 0.2rem;
   transform: 0.10s ;
   position: relative;
}
.list_user_allt_xp:hover{
    background-color: brown;
    color: #fff;
    box-shadow: 0px 2px 2px rebeccapurple;
}
.list_user_allt_image_xp{
    width: 30px;
    height: 30px;
    opacity: 0.9;
    border-radius: 50%;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px  black;;
    padding: 0rem;
    margin: 0rem;
}
.list_user_allt_text_xp{
    font-size: 8px;
    font-family: cursive;
    padding: 0rem;
    margin: 0rem;
    outline: none;
    margin-left: 1rem;
}
.green{
    background-color: green;
    width: 11px;
    height: 11px;
    position: absolute;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    left: 1.6rem;
    top: -0.8rem; 
}
